.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.allInput{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.allInput span{
    color: red;
}
.allInput input{
    width: 400px;
    border-radius: 5px;
}
.confirmButton{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.linkFormBack{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 89px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.linkFormBack:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}
.linkFormConfirm{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    background-color: rgb(17, 255, 0);
    border-radius: 5px;
    color: rgb(6, 6, 6);
    height: 43px;
    width: 116px;
}
.linkFormConfirm:hover{
    background-color: rgb(172, 254, 167);
}

.containerError{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.textError{
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
    margin-left: 0.8rem;
    color: rgb(255, 0, 0);
}
.iconError{
    color: rgb(255, 0, 0) !important;
}