.navContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-bottom: 3px solid black;
  align-items: center;

}
.logo{
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  background-color: white;
}
ul {
  width: 100%;
  height: 5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(197, 197, 197);
  border-radius: 5px;
}

.link:hover{
  color: black;
}

.titleEcommerce{
  margin-top: 10px;
}