/* .containerCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 15rem;    
} */
.card{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}
.count{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    height: 2rem;
    justify-content: space-between;
    background-color: rgb(199, 203, 206);
    border-radius: 30px;
}
.buttonCount{
    border-radius: 50%;
    border: none;
    width: 25px;
    height: 25px;
    margin-top: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
