.containerCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.8rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.containerCards div{
    text-align: center;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
}